<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!--<bean id="testService" class="com.spring.demo.service.TestService"/>-->
    <!--<bean id="testFactoryBean" class="com.spring.demo.service.TestFactoryBean"/>-->
    <!--<import resource="classpath*:datasouce.xml"/>-->

    <bean id="user" class="com.jin.spring.bean.UserDO"></bean>
    <!--<bean id="custemResourceLoader" class="com.jin.spring.ProtocolResolveTest$CustemResourceLoader"></bean>-->


</beans>